# Ignore build directory
build/

# Ignore log file
*.log

# For Mac OS
.DS_Store

# iOS
xcuserdata/
platforms/ios/DerivedData/

# Android
platforms/android/obj

# Windows
.vs/
Debug/
Release/
x64/
platforms/win/Debug
platforms/win/Release
platforms/win/x64
*.sdf
*.user
